<div class="main_video_wrapper w-100 vh-100 cover bg-center">
	<div class="w-100 vh-100 bg-black-50" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pv5 pv7-ns ph2 ph7-l ph3-m">
			<div class="fn w-40-ns w-60 fl-ns pl3 center"><%= image_tag("blackMachinePt00.png")%></div>
			<div class="fn w-60-ns w-100 fl-ns"><%= image_tag("blackMachinePt01.png")%></div>
		</div>
		<div class="w-100 vh-50-l vh-50-m pv6 relative">
			<%= render "form" %>
		</div>
		<%= render "shared/controls" %>
	</div>
</div>
