<div class="main_image_wrapper w-100 vh-100 cover center" style="background-image: url(<%= asset_path("BlackMachineRafa.jpg")%>);">
	<div class="w-100 vh-100 bg-black-50 v-mid" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pv7 center measure-wide">
			<%= link_to "https://s3-sa-east-1.amazonaws.com/blackmachine/downloads/Rider_Te%CC%81cnico_BM_2017.pdf", :target => :_blank, :class => "f3 f2-l bungee-shade button-reset fl pv4 mt3 tc bg-animate bg-black-60 hover-bg-black white pointer w-100 ba b--near-black br2-ns br--right-ns" do %>
					Rider técnico
				<span class="glyphicon glyphicon-download-alt ml4"></span>
			<% end %>

			<%= link_to "https://s3-sa-east-1.amazonaws.com/blackmachine/downloads/Black+na+Laje+_+Release.docx", :target => :_blank, :class => "f3 f2-l bungee-shade button-reset fl pv4 mt3 tc bg-animate bg-black-80 hover-bg-black white pointer w-100 ba b--near-black br2-ns br--right-ns" do %>
					Release Black Machine
				<span class="glyphicon glyphicon-download-alt ml4"></span>
			<% end %>
			<%= link_to "https://s3-sa-east-1.amazonaws.com/blackmachine/downloads/%5BBLACK+MACHINE%5D+Release+2017.pdf", :target => :_blank, :class => "f3 f2-l bungee-shade button-reset fl pv4 mt3 tc bg-animate bg-black-80 hover-bg-black white pointer w-100 ba b--near-black br2-ns br--right-ns" do %>
					Release Black na Lage
				<span class="glyphicon glyphicon-download-alt ml4"></span>
			<% end %>
		</div>
	</div>
</div>
